#### Preliminaries

In [7]:
import os
import sys
import pandas as pd
import numpy as np
sys.path.append(os.path.dirname(os.path.abspath(os.getcwd())))
from Mean_Reversion.data_prep import fetch_data

#### Fetch Data

In [14]:
xom_df = fetch_data('XOM', '2017-11-30', '2024-09-18').drop(['Dividends', 'Stock Splits'], axis = 'columns')

In [15]:
xom_df

,Open,High,Low,Close,Volume
Date,,,,,
2017-11-30 00:00:00-05:00,59.767328,60.455978,59.738337,60.376240,18592700
2017-12-01 00:00:00-05:00,60.484974,60.985146,59.738337,60.499470,13779300
2017-12-04 00:00:00-05:00,60.318239,61.021385,60.166013,60.579201,12597700
2017-12-05 00:00:00-05:00,60.463224,60.724180,59.955796,60.086277,9357200
2017-12-06 00:00:00-05:00,60.057292,60.311003,59.593362,59.644104,13398900
...,...,...,...,...,...
2024-09-11 00:00:00-04:00,110.779999,110.949997,107.769997,109.720001,19571900
2024-09-12 00:00:00-04:00,109.900002,111.330002,109.760002,111.230003,15923300
2024-09-13 00:00:00-04:00,111.470001,112.470001,110.930000,111.150002,10035400
2024-09-16 00:00:00-04:00,112.050003,113.089996,111.690002,112.709999,11729000
2024-09-17 00:00:00-04:00,112.320000,114.370003,112.120003,114.180000,12202600

#### Apply Japanese Candlesticks

Use of this website:
    https://www.babypips.com/learn/forex/what-is-a-japanese-candlestick

- If close > open, white
- If open > close, black

white = 0

black = 1

In [16]:
def apply_jcandle(df):
    df.loc[df['Close'] > df['Open'], 'j_candle'] = 0
    df.loc[df['Close'] < df['Open'], 'j_candle'] = 1
    return df

In [17]:
xom_df = apply_jcandle(xom_df)

In [18]:
xom_df

,Open,High,Low,Close,Volume,j_candle
Date,,,,,,
2017-11-30 00:00:00-05:00,59.767328,60.455978,59.738337,60.376240,18592700,0.0
2017-12-01 00:00:00-05:00,60.484974,60.985146,59.738337,60.499470,13779300,0.0
2017-12-04 00:00:00-05:00,60.318239,61.021385,60.166013,60.579201,12597700,0.0
2017-12-05 00:00:00-05:00,60.463224,60.724180,59.955796,60.086277,9357200,1.0
2017-12-06 00:00:00-05:00,60.057292,60.311003,59.593362,59.644104,13398900,1.0
...,...,...,...,...,...,...
2024-09-11 00:00:00-04:00,110.779999,110.949997,107.769997,109.720001,19571900,1.0
2024-09-12 00:00:00-04:00,109.900002,111.330002,109.760002,111.230003,15923300,0.0
2024-09-13 00:00:00-04:00,111.470001,112.470001,110.930000,111.150002,10035400,1.0
2024-09-16 00:00:00-04:00,112.050003,113.089996,111.690002,112.709999,11729000,0.0
2024-09-17 00:00:00-04:00,112.320000,114.370003,112.120003,114.180000,12202600,0.0