####  Preliminaries

In [9]:
import os
import sys
import pandas as pd
import numpy as np
sys.path.append(os.path.dirname(os.path.abspath(os.getcwd())))
from Mean_Reversion.data_prep import fetch_data, apply_jcandle

In [8]:
os.path.join(project_root, 'Functions')

'c:\\Users\\Tristan\\Desktop\\Projects\\TA\\Technical_Indicators\\japanese_candlesticks\\Functions'

In [10]:
os.path.dirname(os.path.dirname(os.path.abspath(os.getcwd())))

'c:\\Users\\Tristan\\Desktop\\Projects\\TA'

#### Fetch Data

In [6]:
xom_df = fetch_data('XOM', '2017-11-30', '2024-09-18').drop(['Dividends', 'Stock Splits'], axis = 'columns')

#### Data Prep

In [7]:
apply_jcandle(xom_df)

,Open,High,Low,Close,Volume,j_candle,high_wick_length,low_wick_length,body_length
Date,,,,,,,,,
2017-11-30 00:00:00-05:00,59.767324,60.455974,59.738333,60.376236,18592700,0.0,0.079739,0.637903,0.608912
2017-12-01 00:00:00-05:00,60.484986,60.985157,59.738348,60.499481,13779300,0.0,0.485676,0.761133,0.014495
2017-12-04 00:00:00-05:00,60.318235,61.021381,60.166009,60.579197,12597700,0.0,0.442184,0.413188,0.260961
2017-12-05 00:00:00-05:00,60.463216,60.724172,59.955789,60.086269,9357200,1.0,0.260956,0.507427,0.376947
2017-12-06 00:00:00-05:00,60.057284,60.310996,59.593354,59.644096,13398900,1.0,0.253711,0.463930,0.413188
...,...,...,...,...,...,...,...,...,...
2024-09-11 00:00:00-04:00,110.779999,110.949997,107.769997,109.720001,19571900,1.0,0.169998,3.010002,1.059998
2024-09-12 00:00:00-04:00,109.900002,111.330002,109.760002,111.230003,15923300,0.0,0.099998,1.470001,1.330002
2024-09-13 00:00:00-04:00,111.470001,112.470001,110.930000,111.150002,10035400,1.0,1.000000,0.540001,0.320000
2024-09-16 00:00:00-04:00,112.050003,113.089996,111.690002,112.709999,11729000,0.0,0.379997,1.019997,0.659996
2024-09-17 00:00:00-04:00,112.320000,114.370003,112.120003,114.180000,12202600,0.0,0.190002,2.059998,1.860001

def